.time{background-color: red;
padding: 10px;
margin-bottom: 20px;
color: white;
}

.time i{margin-left: 1000px;
padding: 40px;
font-size: medium;
}


.para{padding-right: 40%;
padding-left: 60px;
margin-top: 20px;
margin-left: 93px;}
 
.italics2{margin-left: 40px;}

.class1{margin-bottom: 20px;}

.class2{
padding-left: 150px;
padding-right: 500px;
margin-top: 50px;}

.class2 p{padding: 10px;}



.text1{text-align: right;
display: block;
font-weight: 300;
color: #888;
margin: 7px 0 5px;
}

a{text-decoration: none;}

.news-list a{text-decoration: none;
color: white;

}

.butt{ margin-top: 10px;
margin-left: 150px;}

.news-list p{
background-color: red;}


.news-list{
display: inline;}


*{margin: 0px;
padding: 0px;}

